h1 {
    color: rgb(97, 180, 253);
    text-align: center;
}

p {
    background-color: rgb(191, 225, 253);
    color: black;
    padding: 5px;
    border-radius: 5px;
    text-align: justify;
}

.about-img {
    width: 40%;
}

.about-info {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 15px;
}